@import '../utilities/mixins';
@import '../utilities/variables';
@import '../utilities/keyframes';

#about {
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)),
  url('../images/about-background.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}
