@import '../utilities/mixins';
@import '../utilities/variables';
@import '../utilities/keyframes';

.footer {
  position: relative;
  background-color: #000;
  p {
    color: $font-inverse-dark;
    text-transform: uppercase;
    font-size: .75rem;
  }
  a {
    text-decoration: none;
    color: $font-inverse-dark;

  }
}

.fa-arrow-circle-up {

  font-size: 3rem;
  &:hover {
    color: $font-inverse;
  }
  @include tablet {
    position: absolute;
    top: -15px;
    right: 2rem;
  }
  @include desktop {
    right: 4rem;
  }
}
