@import '../utilities/mixins';
@import '../utilities/variables';
@import '../utilities/keyframes';

nav {
  background-color: #000;
}

.navbar-brand,
.nav-link,
.navbar-toggler {
  color: $font-inverse-dark;
  &:hover {
    color: $font-inverse;
  }
}

.navbar-toggler-icon {
  background-image: url('../icons/hamburger.svg');
}
