@import '../utilities/mixins';
@import '../utilities/variables';
@import '../utilities/keyframes';

body {
  position: relative;
}

nav {
  background-color: #000;
}

.navbar-brand,
.nav-link,
.navbar-toggler {
  color: $font-inverse-dark;
  &:hover {
    color: $font-inverse;
  }
}

.navbar-toggler-icon {
  background-image: url('../icons/hamburger.svg');
}

.nav-link.active,
.nav-link.focus {
  color: $font-inverse !important;
}
